body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff7f50;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.link {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #ff6347;
}

.pix-link {
    display: none;
}

.pix-link p {
    color: #333;
    font-weight: bold;
}

.pix-link img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px 0;
}

.copy-button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #ff6347;
}

