body {
    background-image: url('casal1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Defina a cor do texto para melhor contraste */
    background-attachment: fixed;
}

.container {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo do conteúdo com transparência */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}

#casal-image {
    max-width: 95%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#pix-image {
    max-width: 100%;
    border-radius: 10px;
}

.btn-primary, .btn-info {
    color: #282828;
    background-color: #fff;
    border-color: #c9c3bd;
}

.btn-success {
    color: #e4dddc;
    background-color: #28a745fc;
    border-color: #28a745;
}
